<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image resize</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <h3>Image resize</h3>
    <form name="imgSizesForm" action="/image/resize" method="post">
        <span>Height:</span><input name="imgHeight" id="imgHeight"/></br>
        <span>Width:</span><input name="imgWidth" id="imgWidth"/></br>
        <input type="submit" value="Send"/>
    </form>
</body>

</html>